

body {
  margin: 0;
  padding: 0;
}

.relojes-container {
  max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  padding: 20px;
}

.relojes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
  gap: 20px; /* Espacio entre las tarjetas */
}

